<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>BankApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CreateForgotUserIdFilter</filter-name>
		<filter-class>com.filter.CreateForgotUserIdFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CreateForgotUserIdFilter</filter-name>
		<url-pattern>/CreateForgotUserIdController</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>CreateForgotUserIdController</servlet-name>
		<servlet-class>com.controller.CreateForgotUserIdController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateForgotUserIdController</servlet-name>
		<url-pattern>/CreateForgotUserIdController</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SignupFilter</filter-name>
		<filter-class>com.filter.SignupFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SignupFilter</filter-name>
		<url-pattern>/SignupFilterController</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>SignupFilterController</servlet-name>
		<servlet-class>com.controller.SignupFilterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupFilterController</servlet-name>
		<url-pattern>/SignupFilterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAllUserInfoController</servlet-name>
		<servlet-class>com.controller.ListAllUserInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllUserInfoController</servlet-name>
		<url-pattern>/ListAllUserInfoController</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LogInFilter</filter-name>
		<filter-class>com.filter.LogInFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogInFilter</filter-name>
		<url-pattern>/LogInFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LogInFilterController</servlet-name>
		<servlet-class>com.controller.LogInFilterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInFilterController</servlet-name>
		<url-pattern>/LogInFilterController</url-pattern>
	</servlet-mapping>
</web-app>